.portal {
    padding: 0px 20px;
}

.nav {
    background: green;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    
}

.nav-item {
    display: inline-flex;
    list-style-type:none;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.cover {
    height: 100%;
    width: 100%;
    background-size: contain;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
    grid-template-rows: repeat(5, 30%);
    grid-column-gap: 110px;
    grid-row-gap: 110px;
    margin: 20px;
    padding: 20px;
    }

.post { 
    background-color: blue;
    margin: 0;
}

.title-wrapper{
    background: rgba(0, 0, 0, .8);
}

.title-wrapper > * {
    color: white;
    margin: 0;
}